#about {
    margin-top: 3.9rem;
}

#about .section__title {
    color: var(--basic-color);
    margin-bottom: 5rem;
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-transform: uppercase;
    font-family: "Baloo Bhai 2", cursive;
    letter-spacing: .1em;
    color: #5651e5;

}

.about__container {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    column-gap: 4rem;
    max-width: 1270px;
}

.about__img {
    width: 400px;
    border-radius: 1.5rem;
    justify-self: center;
}


.about__info {
    /* grid-template-columns: repeat(3, 140px); */
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}


.about__title {
    font-size: var(--big-font-size);
    font-size: 2rem;
    font-weight: var(--font-medium);
}

.about__subtitle {
    margin-top: 1rem;
    opacity: 0.7;
    letter-spacing: .025em;
    /* padding: 0 2rem; */
    padding-right: 0.2rem;
    /* font-family: Raleway,sans-serif; */
}

.about__subtitle a {
    text-decoration: underline;
}

.about__description {
    padding: 0 1rem 0 0;
    margin-bottom: var(--mb-2-5);
    font-family: var(--body-font);

}

.button1 {
    margin-left: 2rem;
}

@media screen and (max-width:768px) {
    .about__container {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(2, 1fr); */
        align-items: center;
        column-gap: 4rem;
        max-width: 1070px;
    }
}

@media screen and (max-width:992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__container {
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
        align-items: center;
        column-gap: 4rem;
        max-width: 1070px;
    }

    .about__img {
        width: 320px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    .button1 {
        margin-top: 1rem;
    }

    #about .section__title {
        margin-bottom: 3rem;
    }
}


@media screen and (max-width:388px) {
    .about__img {
        width: 220px;
    }

    .button1 {
        margin-right: 1.8em;
        margin-top: 1rem;
    }

    #about .section__title {
        margin-bottom: 0 .5rem;
    }
}